.dogs-list-container {
    margin-top: 8rem;
}

#custom-header-text {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

@media(max-width: 870px) and (min-width: 500px) {
    .dogs-list-container {
        margin-top: 10rem;
    }
}

@media (max-width: 420px) {
    .dogs-list-container {
        margin-top: 11rem;
    }
}

@media (min-width: 870px) {
    .dogs-list-container {
        margin-top: 0rem;
    }  
}

.dogs-list {
    display: flex;

    margin: auto;
    max-width: 1000px;
    flex-direction: row;
    flex-wrap: wrap;
}

.loader {
    width: 200px;
    height: auto;
}

.dog {
    margin: 1.5rem;
}

@media (max-width: 1000px) {
    .dogs-list {
        display: flex;

        margin: auto;
        max-width: 800px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 750px) {
    .dogs-list {
        display: flex;

        margin: auto;
        max-width: 500px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 500px) {
    .dogs-list {
        display: flex;

        margin: auto;
        max-width: 250px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}