.favorite-dogs-list {
    display: flex;

    margin: auto;
    margin-top: 4rem;
    max-width: 1000px;
    flex-direction: row;
    flex-wrap: wrap;
}

.no-favorite-dog-message {
    margin-top: 5rem;
}

.loader {
    width: 200px;
    height: auto;
}

.dog {
    margin: 1.5rem;
}

@media (max-width: 1000px) {
    .favorite-dogs-list {
        display: flex;

        margin: auto;
        margin-top: 4rem;
        max-width: 800px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 870px) {
    .favorite-dogs-list {
        display: flex;

        margin: auto;
        max-width: 500px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 750px) {
    .favorite-dogs-list {
        display: flex;

        margin: auto;
        max-width: 500px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 490px) and (min-width: 420px) {
    .favorite-dogs-list {
        display: flex;

        margin: auto;
        max-width: 250px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 420px) {
    .favorite-dogs-list {
        display: flex;

        margin: auto;
        max-width: 240px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}